.res-card
{
    width: 200px;
    height: 300px;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}

.res-logo
{
    width: 100%;
    pad: 5px;
}
.res-card:hover
{
    border: 1px solid red;
}